<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ja">
<head>
<meta http-equiv="Content-Style-Type" content="text/css">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="Description" content="Ochigaki占いの館">
<meta name="Keywords" content="占い,母">
<title>Ochigaki母の占いの館</title>
<%= stylesheet_link_tag    'application', media: 'all' %>
<%= javascript_include_tag 'application' %>
<%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper">

<%= render partial: 'layouts/header' %>
<%= render partial: 'layouts/globalnavi' %>

<div id="contents">
<!-- パン屑リスト -->
<p class="topic-path"><a href="index.html">Home</a> &gt; 無料テンプレート</p>
<!-- コンテンツ ここから -->
<%= yield %>
<!-- コンテンツ ここまで -->
</div><!-- / contents end -->

<%= render partial: 'layouts/sidebar' %>
<%= render partial: 'layouts/footer' %>

</div><!-- / wrapper end -->
</body>
</html>